@CHARSET "ISO-8859-1";

html { 
	overflow-y: hidden; 
}

img{
	border: 10px solid #4162B0;	
	box-shadow: 0px 0px 1px #000000;
}

body{
	background: url(../img/small_steps.png);
}

.well{
	background: #F8F8F8;
}

.panel{
	border-color: #D9D9D9;
}