@CHARSET "ISO-8859-1";

img{
	border: 10px solid #4162B0;	
	box-shadow: 0px 0px 1px #000000;
	margin: 0 auto;
}

body{
	background: url(../img/small_steps.png);
	background-attachment: fixed;
}

.well{
	background: #F8F8F8;
	box-shadow: 0px 0px 3px #000000;
}

.panel{
	border-color: #D9D9D9;
}

.left_col{
	border-right: 1px solid #DEDEDE;
}

.enumerator{
	font-size: 0.85em;
	font-weight: bold;
	color: #D4D4D4;
}
